*{
    margin: 0; padding: 0;box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
header{
    width: 100%; height: 100vh;
    background-image: url("../images/1.jfif") ;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width: 100%; height: 15vh;
    background-color:rgba(0,0,0,0.2);
    color: white; display: flex; justify-content: space-between;
    align-items: center;
}
nav .logo{
    width: 25%; text-align: center;
}
nav .menu{
    width: 40%;
    display: flex; justify-content: space-around;
}

nav .menu a {
    width: 25%;
    text-decoration: none; color: white;
    font-weight: bold;
}

nav .menu a:first-child{
    color:#00b894;
}

main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; color: white;
}

section h2{
  color: #ca3448;
  text-shadow: 3px 3px 3px rgb(35, 38, 211);
  font-size: 50px;
}



section h3{
    font-size: 50px; 
    font-weight: 200;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgb(223, 213, 235);
    color: rgba(0, 68, 255, 0);
}section h1{
    margin: 30px 0 20px 0;
    font-size: 100px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
}

section p{
    font-size: 30px;
    word-spacing: 2px;
    text-shadow: 1px 1px 1px black;
    color: #f2eef8;
}

section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
}

section .btnone{
    background: #fff;
    color: #000;

}

.btnone:hover{
    background: #00b894;
    color: white;
}

section .btntwo{
    background: #00b894;
    color: white;
}

.btntwo:hover{
    background: #fff;
    color: #000;
}

.change_content::after{
    content:'';
    animation: changetext 10s infinite linear;
    color: #00b894;
}

@keyframes changetext{
    25% { content:"C++";}
    50%{ content:"HTML";}
    75%{ content: "CSS";}
    100%{ content: "php";}
}